$pallete-50: #e9ebff;
$pallete-100: #d7dbff;
$pallete-200: #b7bdff;
$pallete-300: #8c90ff;
$pallete-400: #685fff;
$pallete-500: #573bff;
$pallete-600: #4e19ff;
$pallete-700: #470ff3;
$pallete-800: #390fc4;
$pallete-900: #311798;
$pallete-950: #170a42;

